{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<nav>
    <ul id="slide-out" class="side-nav">
        <li><a href="#"><span class="acthead">ActivityPoints</span></a></li>
        <div class="divider"></div>
        <li><a href="#">Hi, @user </a></li>
        <li class="red lighten-2"><a href="#">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">ActivityPoints</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Hi, @user</li>
            <li><a class="waves-effect waves-light btn red lighten-2" href="{% url 'login' %}">Logout</a></li>
        </ul>
    </div>
</nav>

{% block body %}

{% endblock %}

<footer class="page-footer materialize-red">
    <div class="container">
        <a href="https://github.com/FossMec">
                <span class="right grey-text text-lighten-4">
                    <i class="material-icons">code</i>
                    with
                    <i class="material-icons">favorite</i>
                    by
                    <span class="fossmec">FossMec</span>
                </span>
        </a>
    </div>
</footer>


<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/plugins.js"></script>

<script src="js/materialize.js"></script>
<script src="js/main.js"></script>
<!--<script src="js/pie.js"></script> -->

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')

</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
