{% extends 'studentauth/base.html' %}

{% block title %}
Login
{% endblock %}

{% block container %}
<div class="container SignIncontainer">
    <div class="card z-depth-4" id="signIn">
        <h3 class="center-align card-title"> Sign In </h3>
        <form action=" " method ="post">
            {%csrf_token%}
            {{ form.registration_no }}
            <br>
            {{ form.password }}
            <div class ="center-align">
              <button type="submit" class ="save btn btn-default">LOGIN</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
